@import "../styles/variables.scss";

.balance {
  width: 100%;
  background-color: $color-light-black;
  padding: 25px;
  text-align: center;
  border-radius: 30px;
  & > p {
    font-size: 30px;
    font-weight: 800;
  }
}
