@import "./main.scss";

.home {
  display: flex;
  gap: 20px;
}
.cardBlock {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: $color-light-black;
  width: 25%;
  gap: 25px;
  padding: 25px;
  align-items: center;
  border-radius: 30px;
  height: 650px;
}

.button {
  @include button-md;
  width: 200px;
}

.balance {
  width: 30%;
  height: 120px;
  background-color: $color-light-black;
  padding: 25px;
  border-radius: 30px;
  text-align: center;
  & > p {
    font-size: 26px;
    font-weight: 800;
    background-image: linear-gradient(
      to right,
      rgb(4, 230, 255),
      rgb(175, 2, 255)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}

.transactionBlock {
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color: $color-light-black;
  padding: 25px;
  border-radius: 30px;
  text-align: center;
  align-items: center;
}

.dashboard {
  width: 40%;
}
