@mixin button-md {
  font-family: "Inter", sans-serif;
  padding: 10px;
  background-color: $color-light-grey;
  color: $color-white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

@mixin items-background {
  text-align: center;
  align-items: center;
  background-color: $color-light-black;
  padding: 25px;
  border-radius: 30px;
}

@mixin input-auth {
  background-color: $color-light-grey;
  border: none;
  padding: 15px;
  border-radius: 15px;
  color: $color-white;
  font-size: 20px;
  &:focus {
    outline: none;
  }

  &::placeholder {
    color: $color-white;
  }
}

@mixin avatar-size {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin: 0 10px;
}

@mixin input-transfer {
  padding: 10px;
  border: none;
  text-align: center;
  border-radius: 5px;
  background-color: $color-light-grey;
  color: $color-white;
  appearance: none;
  outline: none;
}
