@import "./main.scss";
.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 50px;
}

.logo {
  width: 200px;
}

.button {
  @include button-md;
  margin-left: 10px;
}

.user {
  display: flex;
  align-items: center;
}

.avatar {
  @include avatar-size;
}

.fullName {
  color: grey;
}
