@import "./main.scss";

.container {
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -0%);
  width: 50%;
  text-align: center;
  align-items: center;
  & > * {
    margin-top: 50px;
  }
}

.card {
  display: flex;
  justify-content: center;
  margin: 50px auto;
}

.select {
  width: 50%;
  font-size: 25px;
  @include input-transfer;
}

.input {
  width: 50%;
  font-size: 25px;
  @include input-transfer;
  &::placeholder {
    color: $color-white;
  }
}
